* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: Avenir;
    src: url(fonts/AvenirNextLTProCondensed.ttf);
  }
  
  body {
    margin: 0;
    font-family: "Avenir", Helvetica, sans-serif;
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    margin-top: 25px;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
.homecontent {
  margin-left: 400px;
  margin-right:300px;
  margin-top: 400px;
  color: rgb(138, 138, 138);
}

.aboutcontent {
  margin-left: 400px;
  margin-right:300px;
  margin-top: 150px;
  color: rgb(138, 138, 138);
}

img {
  height: 333.5px;
  width:  500px;
  border-radius: 4px;
}

.projectscontent {
  margin-left: 400px;
  margin-right:300px;
  margin-top: 400px;
  color: rgb(138, 138, 138);
}

.bbcontent {
  margin-left: 400px;
  margin-right:300px;
  margin-top: 400px;
  color: rgb(138, 138, 138);
}

.mpcontent {
  margin-left: 400px;
  margin-right:300px;
  margin-top: 400px;
  color: rgb(138, 138, 138);
}

.tmcontent {
  margin-left: 400px;
  margin-right:300px;
  margin-top: 400px;
  color: rgb(138, 138, 138);
}

.pscontent {
  margin-left: 400px;
  margin-right:300px;
  margin-top: 400px;
  color: rgb(138, 138, 138);
}

.ffcontent {
  margin-left: 400px;
  margin-right:300px;
  margin-top: 400px;
  color: rgb(138, 138, 138);
}

.div, h2 {
  font-size: 1000;
}